# Host paths
WP_HOST_DIR=./wp_data
DB_HOST_DIR=./db_data

# WordPress
WORDPRESS_DB_HOST=mariadb
WORDPRESS_DB_NAME=woocommerce
WORDPRESS_DB_USER=woocommerce
WORDPRESS_DB_PASSWORD=change_me
WORDPRESS_URL=http://localhost:8081
WORDPRESS_TITLE=WooCommerce Store
WORDPRESS_ADMIN_USER=admin
WORDPRESS_ADMIN_PASSWORD=change_me_admin
WORDPRESS_ADMIN_EMAIL=admin@example.com
WP_DEBUG=false

# MariaDB
MYSQL_ROOT_PASSWORD=change_me_root
